*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    width: 100vw;
    height: 95vh;
    overflow: hidden;
    background-image: url(./images/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.nav-bar{
    margin: 0.5rem 10.5rem;
    /* margin:auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 200;
}

.overlay-container{
    height: 95vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#netflix-logo{
    width: 10rem;
    height: 2.4rem;
}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

#chinese-logo{
    height: 1.3rem;
    width: 1.3rem;
    filter: invert(100%) brightness(100%);
}

#move-downArrow{
    width: 0.5rem;
}

#curr-lang{
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    user-select: none;
    /* border: 1px solid black; */
    /* margin-left: 0.2rem;
    margin-right: 0.4rem; */
    width: 5rem;
}

.language-navigation{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0.5px solid #e5e5e5;
    padding: 0.3rem 0.75rem;
    border-radius: 0.2rem;
    outline: none;
}

.languages{
    /* change the display setting here */
    width: 8rem;
    display: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.2rem;
    position: absolute;
    right: 16.9rem;
    top: 4.4rem;
    font-size: 1.1rem;
    color: black;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    z-index: 250;

}

#lang-eng, #lang-hindi{
    text-align: center;
}

#lang-eng:hover , #lang-hindi:hover {
    background-color: blue;
    cursor: pointer;
    color: white;
}

.sign-in{
    background-color: red;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 0.3rem 0.8rem;
}

.sign-in:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
    border: 1px solid rgb(170, 23, 23);
    background-color: rgb(170, 23, 23);
}

.hero-section{
    position: relative;
    max-width: 1200px;
    height:90vh;
    margin :auto;
}

.hero-section{
    height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#hero-heading{
    color: white;
    font-size: 2.65rem;
    font-weight: 800;
}

#hero-subHeading{
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

#hero-para{
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#e-mail, #e-mail2{
    border-radius: 0.2rem;
    width: 24rem;
    height: 3.7rem;
    padding: 0 1rem;
}

input[type="email"]{
    outline: none;
    font-size: 1rem;
    color: white;
    border: 1px solid #e5e5e5;
    background-color: rgba(0, 0, 0, 0.6);
}

input[type="email"]:focus{
    border: 2px solid white;
}

.form-button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    border: 1px solid red;
    background-color: red;
    border-radius: 0.3rem;
    padding: 0.98rem 1rem;
}
.form-button-section:hover{
    transition: all;
    transition-duration: 300ms;
    border: 1px solid rgb(170, 23, 23);
    background-color: rgb(170, 23, 23);
}

#button-text{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.form-button-section:hover{
    cursor: pointer;
}

.fa-solid{
    color: white;
}

.underline-border{
    width: 100vw;
    height: 0.5rem;
    background-color: rgba(10, 10, 10, 0.6);
}

.feature-1, .feature-2, .feature-3, .feature-4{
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem 10rem;

}

.left-text1, .left-text2{
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-text2{
    width: 36rem;
}

#feature1-image, #feature3-image{
    width: 37rem;
    height: 26rem;
}

#feature1-heading, #feature2-heading, #feature3-heading, #feature4-heading{
    color: white;
    font-size: 2.8rem;
    font-weight: 800;
}

#feature1-subHeading, #feature2-subHeading, #feature3-subHeading, #feature4-subHeading{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

#feature2-image{
    width: 33rem;
    height: 25rem;
}

#feature4-image{
    width: 36rem;
    height: 28rem;
}

.right-text1, .right-text2{
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* frequently asked quesstion styling */

.frequently-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: black;
}

#frequently-heading{
    color: white;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 4rem;
}

#frequently-subPara{
    color: white;
    font-size: 1.2rem;
}

.question-container{
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.questionBlock{
    width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.1rem;
    align-items: center;
}

.blocks{
    border: 1px solid #525252;
    background-color: #525252;
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 1.5rem;
}

.desc-1{
    display: none;
}

.description{
    width: 1150px;
    border: 1px solid #525252;
    background-color: #525252;
    padding: 1.1rem 1.5rem;
    display: none;
}

.blocks:hover{
    cursor: pointer;
    border: 1px solid #807d7d;
    background-color: #807d7d;
    transition: all;
    transition-duration: 200ms;
}

.plusSign{
    font-size: 3rem;
}

#e-mail2{
    width: 22rem;
    height: 3.4rem;
}

.form-btn2{
    font-size: 1.3rem;
    padding: 0.9rem 1.5rem;
}

.form2{
    margin-bottom: 5rem;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:1rem;
    padding: 4rem 0;
    color: #807d7d;
    font-size: 0.9rem;
    background-color: black;
}

.footerCols1{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    gap: 1rem;
    padding-left: 1rem;
}

.footerCols2{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    text-decoration: underline;
    gap: 1rem;
    padding-left: 1rem;
}

.footerCols3{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    text-decoration: underline;
    gap: 1rem;
}

.footerCols4{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    text-decoration: underline;
    gap: 1rem;
}

.underLine{
    text-decoration: underline;
}

#secondNavigation{
    width: 7.9rem;
    font-size: 0.5rem;
}

#curr-lang2{
    font-size: 1rem;
    color: white;
}

#move-downArrow2{
    width: 0.5rem;
}

#chinese-logo2{
    width: 1.2rem;
    color: white;
    filter: invert(100%) brightness(100%);
}

#callNumber:hover{
    cursor: pointer;
}

.footerCols4 span:hover, .footerCols3 span:hover, .footerCols2 span:hover, 
.footerCols1 span:not(#quesCall):not(#netflixIndia):hover{
    cursor:pointer;
}

/* Styling using JavaScript */

.show{
    display: block;
}

.hide{
    display: none;
}

.rotatePlus{
    transform: rotate(45deg);
}